@font-face {
  font-family: 'Playfair Display';
  src: url(../fonts/PlayfairDisplay-Regular.ttf) format("opentype");
  font-weight: lighter;
}
.cheese:hover{
  transform: scale(1.05);
}
.dany:hover{
  transform: scale(1.05);

}
.perfecto:hover{
  transform: scale(1.05);

}
.ringolis:hover{
  transform: scale(1.05);

}
.yummy:hover{
  transform: scale(1.05);


}
.image-logo{
  display: inline-block;

}
.image-logo:hover{
  transform: scale(1.2);
}
.nav-produit{
  display: inline-block;
}
.nav-produit:hover{
  transform: scale(1.2);
}
.obligatoire {
    color: grey;
}
.nav-propos{
  display: inline-block;

}
.nav-propos:hover{
  transform: scale(1.2);
}
.nav-contact{
  display: inline-block;
}
.nav-contact:hover{
  transform: scale(1.2);
}
.nav-candidature{
  display: inline-block;
}
.nav-candidature:hover{
  transform: scale(1.2);
}


body{
  background-color: #FAFAD2;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 130px;

}
body h1{
  padding: 20px;
}
body h2{
  padding: 20px
}


section a {
  color: black;
  margin: 55px;
  font-family: 'MarkOT', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.footer a{
  color: black;
  margin: 55px;
  font-family: 'MarkOT', sans-serif;
  font-size: 22px;
  font-weight: bold;

}
a {
  text-decoration-line:none;
}
input[type="text"],
input[type="textarea"],
input[type="email"]{
  width: 200px;

}
a:hover{
  color: yellow;
}
.footer a:hover{
    color: yellow;

}




.inLine{
  display: inline-block;
}
.header{
  padding: 20px 10px;
  margin-bottom: 0px;
  margin-right: 90px;
  margin-left: 90px;
    margin-top: 120px;

}
.main{
  background-color: #DC143C;
  margin-bottom: 10px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 10px;
  padding: 0px 0px;
  background-image: url(../img/essai.jpg);
}


.main h2{
  color: #8B0000;
  font-family: 'MarkOT', sans-serif;
    font-size: 70px;
  font-weight: lighter;
  margin: 0px;

}
.main h1{
  color: #8B0000;
  font-family: 'MarkOT', sans-serif;
  font-size: 70px;
  font-weight: lighter;
  margin: 10px;

}


.footer{
  text-align: justify;

  background: #FFD662;
  padding: 20px 10px;
  margin-bottom: 10px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 20px;
  height: 80px;
}
.pos-image{

  width: 1200px;
  margin-left: 50px;
  top: 20px;
  margin-bottom: 0;
  margin-top: 120px;
}
.pos-image img{
  width: 1400px;
  margin-left: 50px;
  top: 20px;
  margin-bottom: 0;
}


.navigation-bar {
   height: 110px;
    background-color: #FFD662;;
    position: fixed;
    left: 79px;
    right: 79px;



    top: 0px;
    box-sizing: border-box;
}

.logo{
   display: inline-block;
   vertical-align: top;
    max-width: 100%;
}

.social{
  background-color: #83d8eeaa;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-right: 70px;
  margin-left: 70px;
  padding: 10px 0 0;
  height: 180px;


}
.social h2{
  margin: 10px;
  color: #00008Baa;
  font-family: 'MarkOT', sans-serif;
  font-size: 60px;
  font-weight: lighter;

}

.about{
   background-color: #FFD700;
   padding: 20px;
   margin-bottom: 10px;
   margin-right: 70px;
   margin-left: 70px;
     margin-top: 30px;

}
.about img{
  display: block;
  padding: 20px 80px;
  float:left;
  margin: 20px 90x 20px 80px;
  height: 480px;


}

.about h1{
  color: #FF8C00;
  font-family: 'MarkOT', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: 0;
  padding-top: 5px;
  margin-top: 7px

}
.about-article{
  background-color: white;
  width: 600px;
  display:block;
  margin-left: 0;
  margin-right: 120px;
  margin-top: 40px;
  padding: 40px 10px;
  height: 250px;
  float:right;
  top: 0;

}
.about-article p{
  font-size: 20px;
  line-height: 1.75;
  color: #000;
  font-family: 'MarkOT', sans-serif;
  font-weight: normal;
  letter-spacing: 0.8px;
  text-align: center;
  hyphens: auto;
}

header h2{
  color: #E08119;
  font-size: 70px;
  font-family: 'MarkOT', sans-serif;
}

.find{
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 70px;
  margin-left: 70px;
    margin-top: 30px;
}

.find h2{

  color: #FFE4C4;
  font-family: 'MarkOT', sans-serif;
  font-size: 55px;
  font-weight: lighter;
  margin: 20px
}
.footer-liens{
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 210px;
}
.footer-liens a{
  font-family: 'MarkOT', sans-serif;
  font-size: 20px;
  color: black;
  font-weight: lighter;



}
.footer-contact{
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  display: inline-block;
    margin-top: 30px;

}
.footer-legales{
  padding: 10px;
  margin: 20px;
    margin-top: 30px;
  display: inline-block;
}

.footer-cookies{
    padding: 10px;
    margin: 20px;
    display: inline-block;
}
.contact{
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 30px;

}
.contact input{
  height: 40px;
  width: 200px;
  margin: 5px;
}

.contact legend{
  font-family: 'MarkOT', sans-serif;
  font-size: 28px;
}
.contact label{
  font-family: 'MarkOT', sans-serif;
  font-size: 28px;

}

.contact h1{
  color: #FFD662;
  font-family: 'MarkOT', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  margin-left: 500px;

}

.recrutement{
  background-color: #FFF8DC;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 70px;
  margin-left: 70px;
    margin-top: 30px;
}

.recrutement h1{
  color: #FFD662;
  font-family: 'MarkOT', sans-serif;
  font-size: 60px;
  font-weight: lighter;

}

.yummy{
 background: #FAFAD2;
 display: inline-block;
  margin-left: 117px;
  text-align: justify;
  transition: 0.5s;
}
.yummy h3{
    font-family: 'MarkOT', sans-serif;
    font-size: 30px;
    color: #F4A460;
    text-align: justify;
    font-weight: lighter;



}

.perfecto{

      background: #83d8ee;
      display: inline-block;
      margin: 0;
      padding: 0;
}
.perfecto h3{
  font-family: 'MarkOT', sans-serif;
  font-size: 30px;
  text-align: justify;

}
.dany h3{
  font-family: 'MarkOT', sans-serif;
  font-size: 30px;
  text-align: justify;


}
.dany{
  transition: .5s;
      
      background: #00BFFF;
      display: inline-block;
      margin: 0;
      padding: 0;
}
.ringolis h3{
  font-family: 'MarkOT', sans-serif;
  font-size: 30px;
  text-align: justify;

}
.ringolis{
      background: white;
      display: inline-block;
        margin-left: 117px;

}

.contact label{
  font-family: 'MarkOT', sans-serif;
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
  margin: 20px 10px;

}


.footer img{
  display: block;
margin-left: auto;
margin-right: auto
}

.footer p{

 margin-left: 600px;
}

.footer address{
 margin-left: 490px;
}

.find iframe{
  display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
}

.find address{
  display: block;
margin-left: 230px;
margin-top: 20px;
font-size: 30px;
font-family: sans-serif;
font-weight: lighter;
}

.pos-right{
  float: left;
}


.contact img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 200px;

}


.contact p{
  font-size: 28px;
  margin-left: 80px;
  font-family: 'MarkOT', sans-serif;
}



.textt {
  margin: 20px;
}

.cheese{
  background-image: url(../img/essai.png);
}

@media screen {

}
.bouton-style{
  display: inline-block;
}
.bouton-style button{
  height: 31px;

  width: 168px;

  display: inline-block;
  margin-left: 480px;
  margin-top: 70px;
}
.bouton-annuler button{
  height: 31px;
  display: inline-block;

  width: 168px;

  margin-top: 70px;
}
